<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav navbar-right">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<nav class="navbar navbar-expand clr-splitspends justify-content-end" *ngIf="!currentUser">
  <div class="nav navbar-nav">
    <button routerLink="/" class="btn btn-primary ml-auto">
      <span class="fas fa-sign-in-alt"></span> Login</button>
    <button [routerLink]="['/register']" class="btn btn-primary nav-item nav-link">
      <span class="fas fa-user-plus"></span> Signup</button>
  </div>
</nav>
<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    devoloped by Nagasagar Dasa Subramanyam
  </p>
</div>
